[submodule "trafficlight-controller"]
	path = trafficlight-controller
	url = https://github.com/RogierWV/trafficlight-controller.git
	branch = main
[submodule "trafficlight-client"]
	path = trafficlight-client
	url = https://github.com/RogierWV/trafficlight-client.git
	branch = main
